body {
  background-color: darkslateblue;
}

.App {
  text-align: center;
  margin-bottom: 3vw;
}

.topRow {
  display: flex;
  flex-direction: row;
  padding: 1.5vw;
}

.mapHolder {
  width: 50vw;
  background-color: darkslateblue;
  border-radius: 40px;
  padding: 1vw;
}

.mapHolderFullscreen {
  width: 100vw;
  height: 100vh;
  background-color: darkslateblue;
}

.submitButton {
  margin: 3%;
}

.tableFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropDownButton {
  background-color: transparent;
  border: none;
}

.stayAdder {
  position: fixed;
  background-color: grey;
  top: 54vh;
  left: 25vw;
  height: 20vh;
  width: 50vw;
}
.stateHolder {
  min-height: 5vh;
}
.dateDisplay {
  color: darkslateblue;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.dateDisplay:hover {
  text-decoration: underline;
}

.fullscreenButton {
  background-color: white;
  vertical-align: middle;
  margin-left: -2vw;
  padding: 1vh 1.3vh 1vh 1.3vh;
  padding-top: 1.3vh;
  margin-top: 0.3vh;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px black;
}

.hotelsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.hotelAdder {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
}

.inputContainer {
  background-color: white;
  padding: 1vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  justify-content: space-around;
  align-items: center;
  margin: 2vh;
}

.inputHolder {
  justify-content: space-around;
  display: flex;
  align-items: center;
  min-width: 40vw;
}

.warningHolder {
  background-color: darkred;
  border-radius: 10px;
}

.emptyButton {
  border: none;
  background-color: transparent;
  max-height: fit-content;
}

.emptyButton:hover {
  color: blue;
}
